<!-- simple form -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style
    type="text/css">
    label {
        display: block;
    }
    .input {
        margin-bottom: 10px;
        padding: 1rem;
        border: 1px solid #ccc;
        border-radius: 1rem;
        
    }
    .btn-submit {
        padding: 1rem;
        border: 1px solid #ccc;
        border-radius: 1rem;
        background-color: #ccc;
    }

</style>
<body>
    <!-- simple form -->
    <div style="width: 400px;">
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form }}
            <button class="btn-submit" type="submit">Submit</button>
        </form>
    </div>
</body>
</html>